 .chefs-container{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    margin-top: 20px;
}
.chefs-image{
    width: 400px;
    height: 450px;
} 


.LazyLoad {
    opacity: 1;
    transition: all 5s ease-in-out;
  }

  .is-visible {
    opacity: 0;
  }